<ion-view hide-nav-bar="true" hide-tabs>
    <ion-header-bar align-title="left">
        <div class="buttons">
            <button class="button button-icon ion-ios-close-empty" ng-click="goBack()"></button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <a class="button" ng-click="confimPost()">Confirm</a>
        </div>
    </ion-header-bar>
    <ion-content overflow-scroll="false">
        <div ng-if="tabs.gallery">
            <button class="button button-full button-positive" ng-click="choosePhoto()">
                Choose Photo
            </button>
        </div>
        <div ng-if="tabs.photo">
            <button class="button button-full button-positive" ng-click="takePhoto()">
                Take Photo
            </button>
        </div>
        <center>
            <img ng-src="{{imgURI}}" style="text-align: center">
        </center>

    </ion-content>
    <ion-footer-bar>
        <div class="tabs tabs-light">
            <a class="tab-item" ng-class="{active: tabs.gallery == true }" ng-click="gallery()">
                Gallery
            </a>
            <a class="tab-item" ng-class="{active: tabs.photo == true }" ng-click="photo()">
                Camera
            </a>
        </div>
    </ion-footer-bar>
</ion-view>
